.navigation {
    border: 1px solid lightgrey;
    background-color: lightgrey;
}
.navigation__list {
    margin: 8px auto;
    text-align: center;
}
.navigation__item {
    display: inline;
    margin: 4px;
}
.navigation__link:link {
    color: black;
    text-decoration: none;
}
.navigation__link:visited {
    color: black;
    text-decoration: none;
}
.navigation__link:hover {
    color: darkgrey;
    text-decoration: none;
}
.section1 {
    margin: 0 auto;
}
.section1__col1 {
    background-color: grey;
    float: left;
    text-align: center;
    width: calc(100%/3);
 }
.section1__col2 {
    background-color: grey;
    text-align: center;
    float: left;
    width: calc(100%/3);
}
.section1__col3 {
    background-color: grey;
    float: left;
    text-align: center;
    width: calc(100%/3);
}
.section1__clear {
    clear: both;
}
